.portofolio-section, .portofolio-section * {
  color: #fff !important;
}
.divider .line {
    width: 90px;
    height: 4px;
    background-color: #ffffff;
}
.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 99, 235, 0); 
  transition: background-color 0.3s ease;
  z-index: 2;
}

.layout .plus-icon {
  color: white;
  font-size: 3rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .layout {
  background-color: rgba(0, 0, 0, 0.6);
}

.card:hover .plus-icon {
  opacity: 1;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-img {
  max-width: 50%;
  max-height: 50%;
  border-radius: 10px;
}