.contact-section {
  background: #2D2F30;
  color: #fff;
  min-height: 100vh;
}

.divider .line {
  width: 80px;
  height: 4px;
  background-color: #fff;
}
body {
    background: linear-gradient(135deg, #232526 0%, #414345 100%);
}